#Ignore Grace's data
Grace*
time.mat
radius.mat
tw_sphere.mat
.DS_Store
2D_gilletetal.avi
2D_gilletetal.m4v
2D_gilletetal.mov
2D_gilletetal.mp4
3D_gilletetal.mp4
T-Rcyl_Uzon2Phil.dat
main_old.m
scatter_gilletetal.mp4
